{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2>Login</h2>

      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Login</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
{% endblock %}