.btn-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.red {
    color: red;
    /*font-size: 1.5em;*/
    font-weight: bold;
}
.green {
    color: green;
    /*font-size: 1.5em;*/
    font-weight: bold;
}