{% extends "base.html" %}

{% block title %}
  Компании группы "МИГ" - {{ block.super }}
{% endblock %}

{% block content %}
  <p><a href="{% url 'hrdb:company_new' %}">
    <span class="icon icon-plus"></span>
    Добавить новую компанию</a></p>
  <table class="table table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Краткое название</th>
        <th scope="col">Полное название компании</th>
      </tr>
    </thead>
    <tbody>
    {% for company in company_list %}
      <tr>
        <td>
          <a href="{% url 'hrdb:company_edit' company.id %}">
            <span class="icon icon-pencil"></span></a></td>
        <td>{{ company.c_short_name }}</td>
        <td>{{ company.c_full_name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
