{% extends "base.html" %}

{% block title %}
  Редактировать компанию - {{ block.super }}
{% endblock %}

{% block content %}

  <h3>Редактировать информацию о компании</h3>

  <form method="post" class="">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {% if field.errors %}
          <div class="alert alert-danger">
              {{ field.errors }}
          </div>
        {% endif %}
          {{ field.label }}
          {{ field }}
      </div>
    {% endfor %}
    <div class="row justify-content-between btn-row">
        <button type="submit" class="btn btn-primary">
          <span class="icon icon-floppy"></span>
          Сохранить</button>
        <a href="{% url 'hrdb:company_delete' company.id %}" class="btn btn-danger">
          <span class="icon icon-trash"></span>
          Удалить компанию</a>
    </div>
  </form>
  <br>
  <p><a href="{% url 'hrdb:companies' %}"><span class="icon icon-reply"></span> Назад к списку компаний</a></p>

{% endblock %}