{% extends "base.html" %}

{% block title %}
  Удалить учебное заведение - {{ block.super }}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <h3>Вы действительно хотите удалить учебное заведение <b>"{{ educationestablishment.e_full_name }}"</b> из справочника?</h3>
    <a href="{% url 'hrdb:educationestablishments' %}" class="btn btn-primary"><span class="icon icon-reply"></span> Назад</a>
    <button type="submit" name="button" class="btn btn-danger"><span class="icon icon-trash"></span> Удалить</button>

  </form>
{% endblock %}
