{% extends "base.html" %}

{% block title %}
  Новое учебное заведение - {{ block.super }}
{% endblock %}

{% block content %}

  <h3>Новое учебное заведение</h3>

  <form method="post" class="">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        {% if field.errors %}
          <div class="alert alert-danger">
              {{ field.errors }}
          </div>
        {% endif %}

        {{ field.label }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">
      <span class="icon icon-floppy"></span>
      Сохранить</button>
  </form>

  <br>
  <p><a href="{% url 'hrdb:educationestablishments' %}"><span class="icon icon-reply"></span> Назад к списку учебных заведений</a></p>

{% endblock %}