{% extends "base.html" %}

{% block title %}
  Учебные заведения - {{ block.super }}
{% endblock %}

{% block content %}
  <p><a href="{% url 'hrdb:educationestablishment_new' %}">Добавить новое учебное заведение</a></p>
  <table class="table table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Краткое название</th>
        <th scope="col">Полное название учебного заведния</th>
      </tr>
    </thead>
    <tbody>
    {% for educationestablishment in educationestablishment_list %}
      <tr>
        <td>
          <a href="{% url 'hrdb:educationestablishment_edit' educationestablishment.id %}">
            <span class="icon icon-pencil"></span></a></td>
        <td>{{ educationestablishment.e_short_name }}</td>
        <td>{{ educationestablishment.e_full_name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
