{% extends "base.html" %}

{% block title %}
  Редактировать учебное заведение - {{ block.super }}
{% endblock %}

{% block content %}

  <h3>Изменить информацию об учебном заведении</h3>

  <form method="post" class="">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        {% if field.errors %}
          <div class="alert alert-danger">
              {{ field.errors }}
          </div>
        {% endif %}

        {{ field.label }}
        {{ field }}
      </div>
    {% endfor %}
    <div class="row justify-content-between btn-row">
      <button type="submit" class="btn btn-primary">
        <span class="icon icon-floppy"></span>
        Сохранить</button>
      <a href="{% url 'hrdb:educationestablishment_delete' educationestablishment.id %}" class="btn btn-danger">
        <span class="icon icon-trash"></span>
        Удалить учебное заведение</a>
    </div>
  </form>

  <br>
  <p><a href="{% url 'hrdb:educationestablishments' %}">
      <span class="icon icon-reply"></span>
      Назад к списку учебных заведений</a></p>

{% endblock %}