{% extends "base.html" %}

{% block title %}
  Главная - {{ block.super }}
{% endblock %}

{% block content %}
  <h1>Under construction</h1>
  <p>скоро здесь появится что-то полезное</p>
{% endblock %}