{% extends "base.html" %}

{% block title %}
  Cоискатель - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container col-sm-6 col-md-10">
  <div class="row">
    <div class="card mr-1" style="width: 29rem;">
      <div class="card-header
              {% if object.status == 0 %}
                alert-secondary
              {% elif object.status == 1 %}
                alert-success
              {% elif object.status == 2 %}
                alert-light
              {% elif object.status == 3 %}
                alert-primary
              {% else %}
                alert-warning
              {% endif %}
            ">
        <h4>{{ object.last_name }} {{ object.first_name }} {{ object.middle_name }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-5" style="text-align: right">
              <b>Дата рождения:</b>
            </div>
            <div class="col-7">
              {{ object.birth_date|date:"d.m.Y" }}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-5" style="text-align: right">
              <b>Пол:</b>
            </div>
            <div class="col-7">
              {{ object.get_sex_display }}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-5" style="text-align: right">
              <b>Адрес:</b>
            </div>
            <div class="col-7">
              {{ object.address }}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-5" style="text-align: right">
              <b>Источник поиска:</b>
            </div>
            <div class="col-7">
              {{ object.get_source_display }}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-5" style="text-align: right">
              <b>Статус:</b>
            </div>
            <div class="col-7">
              {{ object.get_status_display }}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-5" style="text-align: right">
              <b>eMail:</b>&nbsp;
              <a href="{% url 'hrdb:personemail_add' object.id %}">
                <span class="icon icon-plus-squared green"></span></a>
            </div>
            <div class="col-7">
              {% for personemail in officeseeker.personemails.all %}
                <a href="{% url 'hrdb:personemail_edit' officeseeker.id personemail.id %}">
                  <span class="icon icon-pencil"></span></a>
                {{ personemail.email }};<br>
              {% endfor %}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-5" style="text-align: right">
              <b>Телефон:</b>&nbsp;
              <a href="{% url 'hrdb:personphone_add' object.id %}">
                <span class="icon icon-plus-squared green"></span></a>
            </div>
            <div class="col-7">
              {% for personphone in officeseeker.personphones.all %}
                <a href="{% url 'hrdb:personphone_edit' officeseeker.id personphone.id %}">
                  <span class="icon icon-pencil"></span></a>
                {{ personphone.phone }};<br>
              {% endfor %}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="card" style="width: 29rem;">
      <div class="card-header">
        <h4>Образование
        <a href="{% url 'hrdb:personeducational_add' object.id %}">
          <span class="icon icon-plus-squared green"></span></a></h4>
      </div>
      <ul class="list-group list-group-flush">
        {% for person_edu in officeseeker.person_edicational.all %}
          <li class="list-group-item">
            <h5>{{ person_edu.education_establishment.e_full_name }}
              ({{ person_edu.education_establishment.e_short_name }})
              [{{ person_edu.year_graduated|default:"N/A" }}]
            </h5>
            <b>Специальность:</b> {{ person_edu.profession }}<br>
            <b>Квалификация:</b> {{ person_edu.get_qualification_display }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <br>
    <p class="btn-group" role="group" >
      <a href="{% url 'hrdb:officeseekers' %}" class="btn btn-sm btn-info">
              <span class="icon icon-reply"></span> Назад</a>
      <a href="{% url 'hrdb:officeseeker_edit' object.id %}" class="btn btn-sm btn-primary">
              <span class="icon icon-pencil"></span> Редактировать</a>
    </p>
</div>
{% endblock %}