{% extends "base.html" %}

{% block title %}
  Соискатели - {{ block.super }}
{% endblock %}

{% block content %}
  <h3>Соискатели</h3>
  <p><a href="{% url 'hrdb:officeseeker_new' %}">
    <span class="icon icon-user-add"></span>
    Добавить соискателя</a></p>
  <table class="table table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Ф.И.О</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Пол</th>
        <th scope="col">Адрес</th>
        <th scope="col">Статус</th>
        <th scope="col">Источник поиска</th>
        <th scope="col">eMail</th>
        <th scope="col">Телефон</th>
      </tr>
    </thead>
    <tbody>
    {% for person in officeseeker_list %}
      <tr class="
            {% if person.status == 0 %}
              alert-secondary
            {% elif person.status == 1 %}
              alert-success
            {% elif person.status == 2 %}
              alert-light
            {% elif person.status == 3 %}
              alert-primary
            {% else %}
              alert-warning
            {% endif %}
          ">
        <td>
          <a href="{% url 'hrdb:officeseeker_edit' person.id %}">
            <span class="icon icon-pencil"></span></a>
        </td>
        <td>
          <a href="{{ person.get_absolute_url }}">
            {{ person.last_name }} {{ person.first_name }} {{ person.middle_name }}
          </a>
        </td>
        <td>{{ person.birth_date|date:"d.m.Y" }}</td>
        <td>{{ person.get_sex_display }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.get_status_display }}</td>
        <td>{{ person.get_source_display }}</td>
        <td>
          {% for email in person.personemails.all %}
            {{ email.email }};
          {% endfor %}
        </td>
        <td>
          {% for personphone in person.personphones.all %}
            {{ personphone.phone }};
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
