{% extends "base.html" %}

{% block title %}
  Добавить соискателя - {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container col-6">
    <h3>Добавить соискателя</h3>

    <form method="post" class="">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group">
          {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
          {% endif %}

          {{ field.label }}
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">
        <span class="icon icon-floppy"></span>
        Сохранить</button>
    </form>
    <br>
    <p><a href="{% url 'hrdb:officeseekers' %}">
      <span class="icon icon-reply"></span> Назад к списку соискателей</a></p>
  </div>
{% endblock %}