{% extends "base.html" %}

{% block title %}
  Новое структурное подразделение - {{ block.super }}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6">

    <h3>Новое структурное подразделение</h3>

    <form method="post" class="">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group">
          {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
          {% endif %}

          {{ field.label }}
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">
        <span class="icon icon-floppy"></span>
        Сохранить</button>
    </form>
    <br>
    <p>
      <a href="{% url 'hrdb:orgstructure' %}">
        <span class="icon icon-reply"></span>
        Назад к оргструктуре
      </a>
    </p>
  </div>
</div>
{% endblock %}