{% extends "base.html" %}

{% block title %}
  Организационная структура - {{ block.super }}
{% endblock %}

{% block content %}
  <p><a href="{% url 'hrdb:orgstructure_new' %}">Добавить подразделение</a></p>
  <table class="table table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Компания</th>
        <th scope="col">Подразделение</th>
        <th scope="col">Вышестоящее подразделение</th>
      </tr>
    </thead>
    <tbody>
    {% for orgunit in organizationstructure_list %}
      <tr>
        <td>
          <a href="{% url 'hrdb:orgstructure_edit' orgunit.id %}">
            <span class="icon icon-pencil"></span></a></td>
        <td>{{ orgunit.company_id }}</td>
        <td>{{ orgunit.organizational_unit }}</td>
        <td>{{ orgunit.parent_ou_id|default:"" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
