{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Добавить сведения об образовании для - {{ person.get_full_name }}
{% endblock %}

{% block content %}
<div class="container col-6">
  <h3>Добавить сведения об образовании для - {{ person.get_full_name }}</h3>

  <form method="post" class="">
    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">
      <span class="icon icon-floppy"></span>
      Сохранить</button>
  </form>
  <br>
  <p><a href="{{ person.get_absolute_url }}">
    <span class="icon icon-reply"></span> Назад</a></p>
</div>
{% endblock %}